@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
.main-body {
    background-color: rgb(14, 14, 14);
    /* background-image: url('images/bg-intro-desktop.png'); */
    padding: 100px 150px;
}
.main-box {
    display: flex;
    background-image: url('images/bg-intro-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(0, 100%, 74%);
    padding: 38px 0;
    align-items: center;
    justify-content: space-evenly;
}
.left-box {
    color: rgb(255, 253, 250);
}
.left-box h1 {
    margin-bottom: 16px;
    width: 300px;
    line-height: 1.2em;
}
.left-box p {
    font-size: 16px;
    width: 500px;
}
.right-box button{
    background-color: hsl(248, 32%, 49%);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    border: none;
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    cursor: pointer;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}
.form-box {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 28px;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}
.form-box input[type=text], input[type=email], input[type=password] {
    border-radius: 6px;
    padding: 10px;
    border: 1px solid rgb(183, 183, 183);
    margin-bottom: 12px;
    
}
.form-box input:focus {
    outline: 1px solid rgb(167, 167, 167);
}
.form-box input[type=submit] {
    border-radius: 6px;
    padding: 12px;
    background-color: hsl(154, 59%, 51%);
    color: rgb(255, 255, 255);
    border: none;
    margin-bottom: 16px;
    cursor: pointer;
}
.right-box p {
    color: rgb(67, 67, 67);
    font-size: 10px;
    text-align: center;
}
.right-box a {
    color: hsl(0, 100%, 74%);
    text-decoration: none;
}
@media screen and (max-width: 425px) {
    .main-body {
        background-color: none;
        padding: 0;
    }
    .main-box {
        display: block;
        background-image: url('images/bg-intro-desktop.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: hsl(0, 100%, 74%);
        padding: 50px 18px 20px 18px;
    }
    .left-box h1 {
        font-size: 32px;
        /* margin-top: 38px; */
        display: block;
        margin: 0 auto;
    }
    .left-box p {
        font-size: 14px;
        width: 300px;
        /* margin-bottom: 18px; */
        display: block;
        margin: 18px auto;
    }
    .form-box {
        margin-bottom: 28px;
        padding: 24px;
    }
}
@media screen and (width: 1024px) {
    .main-body {
        padding: 100px 50px
    }
    .left-box p {
        width: 350px;
    }
}
@media screen and (width: 768px) {
    .main-body {
        padding: 80px 15px
    }
    .left-box p {
        width: 300px;
    }
}